# Requirements for pagerduty_alert
#
# Author:: Greg Albrecht <mailto:gba@onbeep.com>
# Copyright:: Copyright 2014 OnBeep, Inc.
# License:: All rights reserved. Do not redistribute.
#


pylint
nose
flake8
coverage
